@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    width: 80%;
    border: 2px solid rgba(255, 213, 1, 0.842);
    border-radius: 20px;
    margin: 2em 20em 0 10em;
    font-family: 'Righteous', cursive;
    background-color:rgb(32, 29, 47);
}
h1{
    color: rgba(255, 213, 1, 0.842);
}
button{
    font-family: 'Righteous', cursive;
    background-color:rgba(255, 213, 1, 0.842);
    outline: 0;
    color: white;
    margin-left: 1em;
    border-radius: 20px;
    border-style: hidden;
    height: 2em;
}
button:active{
    border: 2px outset rgb(32, 29, 47);
}
header{
    width: 80%;
    margin: auto;
    text-align: center;
}
label{
    color: rgba(255, 213, 1, 0.842);
}
/* Switch style */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-color:rgba(255, 213, 1, 0.842);
    -webkit-transition: .4s;
    transition: .4s;
  }
.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 21px;
    left: 1px;
    bottom: 1px;
    border-radius: 20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
input:checked + .slider {
    background-color:rgba(255, 213, 1, 0.842);
  }

input:checked + .slider:before {
    -webkit-transform: translateX(37px);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
  }

/* End Switch style */

#temperature-input {
    font-family: 'Righteous', cursive;
    outline: 0;
    border-width: 0 0 2px;
    margin-left: 0.2em;
    width: 6em;
    color:rgba(255, 213, 1, 0.842);
    border-color:rgba(255, 213, 1, 0.842);
    background-color: transparent;
    transition: border-color 1s ease-out;
  }

#temperature-input:focus {
    border-color: rgba(235, 128, 28, 0.849);
  }
#input-component{
    display: inline-block;
    margin: 1em 10em 1em 10em
}
#result-component{
    display: inline-block;
    margin: 1em 1em 1em 1m;
}
#unit-component{
    display: inline-block;
    float: right;
    margin-right: 1em;
}
#result{
    color: rgba(255, 213, 1, 0.842);
}